*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}
.sect-heading{
    font-family: "Cinzel", serif;
}
.logo h2{
    font-family: "Cinzel";
    /* font-optical-sizing:none; */
    font-weight: 500;
    width: 60%;
    /* border: solid saddlebrown; */
    /* font-style: normal; */
}
.logo a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    /* flex-direction: row; */
    padding: 1rem 2rem;
    /* margin-bottom: 30rem; */
    background-color: rgb(9, 9, 54);
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
}
header{
    /* position: relative; */
}
.navlinks{
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    padding-right: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    
}

.image-slider{
 
    /* top: 10rem; */
    /* height: auto; */
    /* margin-top: 10rem; */
}

.navlinks a{
    /* text-decoration: none; */
    color: inherit;
    /* float: left; */
}
.navlinks li a:hover {
    transition: ease-in-out 0.1s;
    color: rgb(128, 128, 255);
    /* text-decoration: solid; */
  }
.image-slider{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: 1rem; */
}
.image-slider img{
    max-width: 100%;
    opacity: 0.7;
    /* height: auto; */
    /* position: absolute; */
    /* top: 10rem; */
    /* z-index: 100; */
}
main{
    /* margin-top: 0rem; */
    background-color: rgb(255, 255, 255);
    /* z-index: 90; */
}
.main-sub{
    display: flex;
}
.principal-sect{
    width: 50%;
    /* background-color: olive; */
    padding: 3rem 3rem;
}
.principal-sect a{
    color: blue;
}
.research-sect{
    width: 50%;
    /* background-color: seagreen; */
    padding: 3rem 3rem;
}
.lab-sect{
    width: 50%;
    /* background-color: greenyellow; */
    padding: 3rem 3rem;
}
.join-sect{
    width: 50%;
    /* background-color: olivedrab; */
    padding: 3rem 3rem;
}
.icon{
    font-size: 6rem;
    color: rgb(9, 9, 54);
}
